.right-aisle {
    border: solid 1px #9527de;
    background: #14041f;
}

.person-icon-list,
.person-lab-list {
	list-style: none;
	padding: 0;
}

.person-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.person-img {
	inline-size: 200px;
	block-size: 200px;
	margin-block-start: 12px;
	margin-block-end: 24px;
    background: #2e094c;
    border-radius: 50%;
    border: solid 1px #9527de;
    
}

.person-name {
	font-size: 24px;
	font-weight: 900;
}

.person-data {
	display: flex;
	align-items: flex-start;
	margin-block-end: 24px;
}

.person-icon-list {
	margin-block: 32px;
}

.person-icon-list img {
	inline-size: 42px;
	block-size: 42px;
	margin-inline-end: 16px;
}

.person-item-value {
	font-weight: 700;
	margin-block-start: 8px;
}

.person-show-button {
	display: block;
	margin-inline: auto;
	margin-block-end: 12px;
	font-weight: bold;
	inline-size: 220px;
	block-size: 41px;
	background: #01F0D0;
	border-width: 0;
	border-radius: 41px;
}

.person-icon-list .person-info {
	line-height: 1.2;
}

